<%- model_class = Venue -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:address) %></th>
      <th><%= model_class.human_attribute_name(:rating) %></th>
      <th><%= model_class.human_attribute_name(:checkins_count) %></th>
      <th><%= model_class.human_attribute_name(:users_count) %></th>
      <th><%= model_class.human_attribute_name(:tips_count) %></th>
      <th><%= model_class.human_attribute_name(:photos_count) %></th>
    </tr>
  </thead>
  <tbody>
    <% @venues.each do |venue| %>
      <tr>
        <td><%= link_to venue.id, venue_path(venue) %></td>
        <td><%= venue.name %></td>
        <td><%= venue.address %></td>
        <td><%= venue.rating %></td>
        <td><%= venue.checkins_count %></td>
        <td><%= venue.users_count %></td>
        <td><%= venue.tips_count %></td>
        <td><%= venue.photos_count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<span style="float:right;"><%= will_paginate @venues, :class => 'digg_pagination' %></span>

